/* src/components/NoteContainer/NoteContainer.css */
.note-container {
  height: 100%;
  align-items: center;
  justify-content: center;
}

.note-container h2 {
  margin-bottom: 20px;
}


.note-container_notes {
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  overflow-y: scroll;
}